#webname {
    text-align: center;
   font-family: Chalkduster, fantasy;
   font-size: xx-large;
   text-decoration: underline;
   font-weight: 500;
}

#quote {
    text-align: center;
    font-family: Bradley Hand, cursive;
    font-size: large;
    padding-top: 1%;
}

.nav-item {
    background-color: black;
}

.nav-link {
    color: whitesmoke
}