#webname {
    text-align: center;
   font-family: Chalkduster, fantasy;
   font-size: xx-large;
   text-decoration: underline;
   font-weight: 500;
}

#quote {
    text-align: center;
    font-family: Bradley Hand, cursive;
    font-size: large;
    padding-top: 1%;
}

.nav-item {
    background-color: black;
}

.nav-link {
    color: whitesmoke
}

#footlogo {
        border-radius: 99%;
      }

#store { 
    text-align: center;
    font-family: Chalkduster, fantasy;
    text-decoration: underline;
    font-size: 20px;

}

#joinus {
    text-align: center;
    font-family: Chalkduster, fantasy;
    text-decoration: underline;
    font-size: 20px;
}

h5 {
    text-align: center;
    font-family: Chalkduster, fantasy;
    text-decoration: underline;
    font-size: 20px;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
}